.back {
  margin-bottom: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field .value {
  display: flex;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  justify-content: center;
  color: #00ff99;
}

input {
  width: 272px;
  border: 1px solid #00ff99;
  border-radius: 4px;
  padding: 8px 16px;
  background: #1e1e1e;
  color: #00ff99;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
  margin-top: 20px;
}

input:hover {
  border: 1px solid #00ffaa;
}

input:disabled {
  border: 1px solid #555;
  color: #555;
  background: #222;
}

.start-btn,
.notif-btn {
  background: #00cc66;
  border: transparent;
  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  font-family: 'e-Ukraine', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.start-btn:hover,
.notif-btn:hover {
  background: #00e67c;
}

.start-btn:disabled {
  background: #444;
  color: #777;
}

.flatpickr-calendar {
  font-family: 'e-Ukraine', sans-serif;
  background: #222;
  color: #00ff99;
}

.flatpickr-day {
  font-family: 'e-Ukraine', sans-serif;
  color: #00ff99;
}

.flatpickr-day.today {
  border-color: #00cc66;
}

.flatpickr-day.selected {
  background: #00cc66;
  border-color: #00cc66;
}

.flatpickr-day:hover {
  background: #444;
  border-color: #444;
}
