.flatpickr-calendar {
  font-family: 'e-Ukraine', sans-serif;
  background: #222;
  color: #00ff99;
}

.flatpickr-day {
  font-family: 'e-Ukraine', sans-serif;
  color: #00ff99;
}

.flatpickr-day.today {
  border-color: #00cc66;
}

.flatpickr-day.selected {
  background: #00cc66;
  border-color: #00cc66;
}

.flatpickr-day:hover {
  background: #444;
  border-color: #444;
}

/* === FORM === */

.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.delay-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 360px;
  gap: 8px;
}

.delay-label input {
  border: 1px solid #00ff99;
  border-radius: 4px;
  width: 328px;
  height: 26px;
  padding: 8px 16px;
  background-color: #1e1e1e;
  color: #00ff99;
}

.promise-state {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 4px;
  border: 1px solid #00ff99;
  max-width: 264px;
  max-height: 32px;
  padding: 12px 48px;
  padding-top: 24px;
  margin-bottom: 24px;
  background-color: #1e1e1e;
  color: #00ff99;
}
